---
import Layout from "../layouts/Layout.astro"
import { books } from "../data/books"

const { book } = Astro.params

const info = books.find((b) => b.id === book)

if (!info) {
  return Astro.redirect("/404")
}
---

<Layout title={`Libro ${info.title}`}>
  <main class="m-auto max-w-4xl">

    <a href="/">
        <img class="w-8 mt-20 mb-4" src="./Arrow-Left.svg" alt="atras">
    </a>

    <div class="grid grid-cols-[350px_1fr] gap-x-12">
      <div class="flex flex-col">
        <picture class="mb-8 w-full relative">
          <img
          transition:name={`book-${info.id}`}
            class="aspect-[389/500] h-full w-full object-cover max-w-full rounded-lg"
            src={info.img}
            alt={`portada del libro ${info.title}`}
          />
        </picture>
      </div>
      <aside
      transition:animate="slide"
      >
        <h1 
        class="text-6xl font-black mb-4">{info.title}</h1>

        <p class="text-lg mb-4">{info.opinion}</p>
        <p><strong>author:</strong> <span class="font-semibold text-gray-800">{info.author}</spa></p>
      </aside>
    </div>
  </main>
</Layout>
